.am-button-primary{
  background: #77baff;
  &.am-button-active{
    background: #87d2ff;
  }
}
.am-navbar{
  background: #77baff;
}
.logo-container{
  text-align: center;
  padding: 10px;
  img{
    width: 240px;
    height: 200px;
  }
}
.am-wingblank{
  text-align: center;
}
